body{
    width: 100%;
    margin: 1px;
    
}

.board{
  display: -ms-flexbox;
  width:50%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  
}

.board > div { 
    
    flex-basis: calc(25.8% - 10px);  
    justify-content: center;
    padding: 0px;
    background: black;
  }


  .card { margin: 20px; width: 100%;  display: -ms-flexbox;
}
  


